@import "bootstrap/bootstrap.less";


//____FONTS____

@font-face {
font-family: 'ProximaNova';
src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNova-Regular.otf') format('opentype'),
url('../fonts/ProximaNova-Regular.woff') format('woff'),
url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'ProximaNova';
src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNova-Bold.otf') format('opentype'),
url('../fonts/ProximaNova-Bold.woff') format('woff'),
url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
font-weight: 900;
font-style: normal;
}

@font-face {
font-family: 'ProximaNova';
src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNova-Semibold.otf') format('opentype'),
url('../fonts/ProximaNova-Semibold.woff') format('woff'),
url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: 'ProximaNova';
src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNova-Light.otf') format('opentype'),
url('../fonts/ProximaNova-Light.woff') format('woff'),
url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
font-weight: 100;
font-style: normal;
}


//____COLORS____

@light-grey: #f6f4fb;
@dark-grey: #c1c1c1;
@dark-blue: #0a0d35;
@purple: #5e3db3;


body{
  font-family: 'ProximaNova', sans-serif;
  font-size: 18px;
  font-weight: auto;
  color: black;
  letter-spacing: 0.05em;

  h2{
    font-size: 60px;
    font-weight: 600;
    line-height: auto;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
  }

  h3{
    font-size: 36px;
    font-weight: 900;
    line-height: auto;
    margin: 0;
    padding: 0;
  }


  .apple, .apple:hover, .apple:active, .apple:focus{
      background: url("../image/Icon_Apple.png") no-repeat 20px 8px;
      background-color:@purple;
      color: white;
  }

  .google-play, .google-play:hover, .google-play:active, .google-play:focus{
      background: url("../image/Icon_Google-Play.png") no-repeat 22px 10px;
      background-color:@purple;
      color: white;
  }

  .btn{
    width: 100%;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: @purple;
    letter-spacing: 0;
    padding: 12px;
    outline: none !important;
    border:none;

    p{
      margin: 0;
      margin-left: 45px;
    }

    &:focus{
      color: white;
    }
    &:hover{
      box-shadow: 0 3px 8px black;
    }
    &:active{
      box-shadow: inset 0 2px 3px black;
      color:rgba(255, 255, 255, 0.75);
      border:none;
    }
  }


  .main-header{
    height: 700px;
    background: url("../image/header-background.jpg") no-repeat center top;

    .navbar{
      background: none;
      border: none;
      border-radius: 0;
      color: white;
      margin: 0;
      padding-top: 60px;

      .navbar-brand{
        width: 155px;
        height: 55px;
        padding: 0px;
        margin: 0px;
        background: url("../image/logo.png") no-repeat center center;

      }

      .navbar-nav a{
        font-size: 14px;
        font-weight: 100;
        text-transform: uppercase;
        line-height: normal;
        color: white;
        padding:10px;
        padding-top: 20px;


        &:hover{
          color: @purple;
        }
        &:active{
          color: @purple;
          opacity: 0.3;
        }
      }
    }

    .header-content{
      padding-top: 130px;
      color: white;
      text-transform: uppercase;

      .header-button-block{
        margin-top:200px;
      }
    }

  }



}
